[core]
        excludesfile = .gitignore
[user]
	email = mschmitt@scoop-gmbh.de
	name = Matthias Schmitt
[color]
	status = true
	branch = true
	diff = true
[alias]
    ci = commit -v
    cm = commit -m
    cp = cherry-pick
    sr = svn rebase
    sdc = svn dcommit
    flfs = flow feature start
    flff = flow feature finish
    flrs = flow release start
    flrf = flow release finish
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
